@{
    ViewData["Title"] = "Countries";
}
<h3>Add new country</h3>
<form method="post" asp-controller="Country" asp-action="Add">
    <div class="form-group">
        <label for="name" class="control-label">Name:</label><br>
        <input type="text" name="name" class="form_control">
    </div>
    <input class="btn btn-primary" type="submit" value="Add">
</form>
