@{
    ViewData["Title"] = "Countries";
}
@model Country
<h3>Edit country</h3>
<form method="post" asp-controller="Country" asp-action="Change">
    <div class="form-group">
        <label for="name">Name:</label><br>
        <input type="text" name="name" class="form_control" value="@Model.Name">
    </div>
    <input class="btn btn-primary" type="submit" value="Change">
</form>