@model List<Country>
@{
    ViewData["Title"] = "Countries";
}
<h1 style="color:#D5DDE5;">Countries</h1>
<p>
    <a asp-action="Create" class="btn btn-info">New
        <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
</p>
<br>
<table class="table">
    <thead>
        <tr>
            
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Country c in Model)
        {
            <tr>
                
                <td>@c.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Country", new { id = c.CountryID }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = c.CountryID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>