    @model Airline.WebApp.Models.AddAirlinesViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add new Airline</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearFounded" class="control-label">Year Founded</label>
                <input asp-for="YearFounded" class="form-control" />
                <span asp-validation-for="YearFounded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPlanes" class="control-label">Number of plains</label>
                <input asp-for="NumberOfPlanes" class="form-control" />
                <span asp-validation-for="NumberOfPlanes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryID" class="control-label">Country</label>
                <select asp-for="CountryID" asp-items="Model.Countries" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
